:root {
  --var1: #089f44;
  --var2: #05305c;
  --var3: #0cb754;
  --var4: #099344;
  --var5: #ffffff;
  --var6: #222222;
  --var7: #CBA2A2;
  --var8: #ffffff;
  --var9: #cecfd1;
  --var10: #c5c5c5;
  --var11: #19468b;
  --var12: #34d9ad;

  --main-color: var(--var12);
  --main-hover: var(--var2);
  --main-animation: var(--var1);
  --link-color: var(--var3);
  --link-active: var(--var4);
  --popup-text-color: var(--var1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Niramit, Arial, Helvetica, sans-serif;
  color: #ffffff;
}

body {
  font-family: Niramit, Arial, Helvetica, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--var5);
  height: 100%;
  direction: ltr;
}

.wrapper {
  width: 350px;
  height: 300px;
}

.disabled {
  background-color: var(--var6);

  .header-allow {
    background-color: var(--var7);
  }

  &-tittle {
    color: var(--var6);
  }

  .info-text-block {
    background-color: var(--var6);
    color: var(--var7);
    border: solid 1px var(--var6);

    &::after {
      background-color: var(--var6);
      border-top: solid 1px var(--var6);
      border-right: solid 1px var(--var6);
    }
  }

  .info_descript {
    color: var(--var7);
  }

  .text-content {
    color: var(--var6);
    font-family: Niramit, Arial, Helvetica, sans-serif;
  }

  .btn-back {
    background-color: var(--var6);
  }

  #btn-on {
    background-color: var(--var7);

    &:hover {
      background-color: #766262;
    }
  }

  .footer {
    background-color: var(--var7);
  }
}

.inner {
  height: 100%;
}

.main_function {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_function, .themes {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}



.header-allow {
  width: 100%;
  background-color: var(--var12);
  display: flex;
  padding: 19px 14px 0;
  height: 120px;
  top: 0;
}

.header-text {
  margin-left: 10px;

  &-tittle {
    font-size: 20px;
    text-align: left;
    //color: var(--var1);
    float: left;
    font-weight: 600;
    font-family: Niramit, Arial, Helvetica, sans-serif;
  }

  &-tittle {
    color: var(--var6);
  }
}

.settings {
  width: 18px;
  height: 18px;

  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.info-icon {
  position: relative;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.info-link:hover {
  border-radius: 2px;
  opacity: 100;
  transition: background-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.info-link {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
  text-decoration: none;

  .info-icon:hover .info-text-block {
    visibility: visible;
    opacity: 100;
    transition: opacity 0.1s linear;
  }
}

.info-text-block {
  visibility: hidden;
  text-align: left;
  min-width: 95px;
  position: absolute;
  border-radius: 4px;
  background-color: var(--var5);
  box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px var(--var9);
  right: 25px;
  top: -8.2px;
  color: rgba(49, 50, 61, 0.87);
  font-size: 13px;
  line-height: 1.4;
  z-index: 1000;
  opacity: 0;

  &::after {
    height: 7px;
    width: 7px;
    content: '';
    display: block;
    position: absolute;
    background-color: var(--var5);
    background-size: cover;
    border-radius: 1.4px;
    right: -5.1px;
    top: 9px;
    border-top: solid 1px var(--var10);
    border-right: solid 1px var(--var10);
  }
}

.info_descript {
  padding: 7px 10px;
  color: var(--var11);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.24;
  letter-spacing: 0.2px;
  margin: 0;
  text-align: center;
}

.btn-wrapper {
  margin-top: -75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-content {
  font-size: larger;
  text-align: center;
  font-family: Niramit, Arial, Helvetica, sans-serif;
}

#btn-on {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border: 0;
  color: rgb(37, 37, 37);
  border-radius: 50%;
  text-align: center;
  background-color: var(--var12);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  z-index: 999;
  outline: 0;
  transition: 0.5s;
  transform: perspective(500px) translateZ(0px);
  image-rendering: auto;
  position: relative;
  cursor: pointer;

  &:hover {
    transition: background-color 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  > img {
    width: 50px;
    position: absolute;
    height: 50px;
  }
}

.btn-back {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.footer {
  background-color: var(--var12);
  padding: 10px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cookies_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //color: var(--main-color);

  p {
    font-size: larger;
    font-family: Niramit, Arial, Helvetica, sans-serif;
  }

  span {
    font-size: large;
    font-family: Niramit, Arial, Helvetica, sans-serif;
  }
}

.domain {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Niramit, Arial, Helvetica, sans-serif;
}

.themes {
  padding: 15px;
  display: none;

  h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: Niramit, Arial, Helvetica, sans-serif;
  }
}

.back_btn {
  width: 28px;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.theme_cards {
  display: flex;
  gap: 15px;
}

.theme_card {
  width: 97px;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.extensions_title {
  font-size: 17px;
  margin: 0;
}

.extensions_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.extension {
  font-size: 14px;
  font-family: Niramit, Arial, Helvetica, sans-serif;
}
